* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navhome {
  border: 0px solid transparent;
  padding: 1.5%;
  background: transparent; }
  .navhome .list {
    font-weight: 600;
    color: white !important; }

.navhome:hover {
  background-color: white; }
  .navhome:hover .list {
    font-weight: 600;
    color: #08034e !important; }

.bodyme {
  text-align: center;
  background-image: url("../imgester/fondo2.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  position: fixed;
  z-index: 99999;
  width: 100%; }

/* Clearfix
------------------------------------------- */
.navbar:before,
.navbar:after,
.navbar-container:before,
.navbar-container:after,
.navbar-button:before,
.navbar-button:after,
.navbar-search:before,
.navbar-search:after,
.navbar-category:before,
.navbar-category:after {
  display: table;
  content: ""; }

.navbar:after,
.navbar-container:after,
.navbar-button:after,
.navbar-search:after,
.navbar-category:after {
  clear: both; }

/* Navbar
-------------------------------------------- */
/* Base classes */
.navbar {
  position: relative;
  min-height: 60px; }

.navbar-button,
.navbar-search,
.navbar-category {
  height: 60px; }

@media (min-width: 480px) {
  .navbar-button {
    float: right;
    width: 20%; }

  .navbar-search {
    float: right;
    width: 55%; }

  .navbar-category {
    float: left;
    width: 25%; } }
/* Navbar category
-------------------- */
.navbar-category {
  position: relative; }

/* Category button */
.category-button {
  display: block;
  padding: 4px;
  font-size: 0;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd; }

.category-button:hover,
.category-button:focus {
  text-decoration: none;
  background-color: #fff;
  border-color: #ddd; }

.category-button:focus {
  outline: 0; }

.navbar-category:hover > .category-button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.category-btn {
  display: block;
  overflow: hidden;
  padding: 14px 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 4px; }

.navbar-category:hover .category-btn {
  color: #fff;
  background-color: #286090;
  border-color: #204d74; }

/* Category menu */
.navbar-category:hover > .category-menu {
  display: block; }

.category-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 98;
  display: none;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ddd;
  border-top-width: 0; }

.category-menu > li > a {
  display: block;
  padding: 8px 20px;
  clear: both;
  font-weight: 500;
  line-height: 1.4;
  color: #333;
  text-decoration: none;
  background-color: transparent;
  border-left: 2px solid transparent; }

.category-menu > li > a:hover {
  background-color: #f5f5f5; }

.category-menu > li > a:hover,
.category-menu > li > a:focus {
  text-decoration: none; }

.category-menu > li > a:focus {
  outline: 0; }

.category-menu > li {
  border: 1px solid #ddd;
  border-width: 1px 0;
  margin-top: -1px; }

.category-menu > li:last-child {
  margin-bottom: -1px; }

/* Category dropdown */
.category-menu > .category-dropdown {
  position: relative; }

.category-menu > .category-dropdown:hover {
  z-index: 2;
  border-color: #ccc; }

.category-menu > .category-dropdown > a:hover,
.category-menu > .category-dropdown:hover > a {
  background-color: #f1f6fa;
  border-left-color: orange; }

/* Caret */
.category-menu > .category-dropdown > a {
  position: relative;
  padding-right: 22px; }

.category-menu > .category-dropdown > a:after {
  position: absolute;
  top: 13px;
  right: 5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #aaa;
  content: ""; }

.category-menu > .category-dropdown:hover > a:after {
  right: 13px;
  border-left-color: transparent;
  border-right-color: #aaa; }

/* Category submenu */
.category-menu > .category-dropdown:hover > .category-submenu {
  display: block; }

.category-menu > .category-dropdown > .category-submenu {
  position: static;
  z-index: 99;
  display: none;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #f1f6fa;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.category-menu > .category-dropdown > .category-submenu > li > a {
  display: block;
  padding: 4px 20px;
  clear: both;
  font-weight: 500;
  line-height: 1.4;
  color: #333;
  text-decoration: none;
  background-color: transparent; }

.category-menu > .category-dropdown > .category-submenu > li > a:hover,
.category-menu > .category-dropdown > .category-submenu > li > a:focus {
  color: #286090;
  text-decoration: none;
  background-color: transparent; }

.category-menu > .category-dropdown > .category-submenu > li > a:focus {
  outline: 0; }

/* Category-submenu header */
.category-menu > .category-dropdown > .category-submenu > .submenu-header {
  display: block;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
  color: orange; }

/* Category-submenu divider */
.category-menu > .category-dropdown > .category-submenu > .submenu-divider {
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
  margin: 5px 0px;
  background-color: #ccc; }

/* Navbar search
------------------ */
.navbar-search {
  padding: 12px;
  background-color: #f5f5f5;
  border: 1px solid #ddd; }

.search-form {
  position: relative; }

.search-form > input[type="text"] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 73px 6px 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px; }

.search-form > input[type="text"]:focus {
  outline: 0;
  border-color: #aaa; }

.search-form > input[type="submit"] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
  color: #fff;
  background-color: #555;
  border: 1px solid #555;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.search-form > input[type="submit"]:hover,
.search-form > input[type="submit"]:focus {
  background-color: #333;
  border-color: #333; }

.search-form > input[type="submit"]:focus {
  outline: 0; }

/* Navbar btn
--------------- */
.navbar-button {
  padding: 13px; }

.navbar-btn {
  display: block;
  padding: 4px 12px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #333;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  background-color: #fcfcfc;
  border: 1px solid #cacaca;
  border-radius: 4px; }

.navbar-btn:hover,
.navbar-btn:focus {
  text-decoration: none; }

.navbar-btn:hover {
  background-color: #eeeeee; }

.navbar-btn:focus {
  outline: 0; }

.navbar-btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

/* Navbar media queries
------------------------ */
/* Min */
@media (min-width: 480px) {
  /* Navbar category */
  .category-button {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }

  .category-menu,
  .category-menu > li:last-child,
  .category-menu > li:last-child > a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }

  .category-menu > li.category-dropdown:last-child:hover,
  .category-menu > li.category-dropdown:last-child:hover > a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }

  .category-menu > .category-dropdown > .category-submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    width: 180px;
    border: 1px solid #ccc; }

  .category-menu > .category-dropdown:hover > a {
    z-index: 100;
    width: 101%;
    padding-right: 23px; }

  /* Navbar search */
  .navbar-search {
    border-width: 1px 0; }

  /* Navbar button */
  .navbar-button {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-left-width: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; } }
/* Max */
@media (max-width: 479px) {
  /* Navbar category */
  .category-button {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }

  .category-menu > .category-dropdown > .category-submenu {
    display: block !important; }

  .category-menu > .category-dropdown > a {
    padding-right: 25px;
    background-color: #f1f6fa;
    border-left-color: orange; }

  .category-menu > .category-dropdown > a:after {
    top: 15px !important;
    right: 10px !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: #aaa !important; }

  /* Navbar search */
  .navbar-search {
    border-width: 1px 1px 0 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px; }

  /* Navbar button */
  .navbar-button {
    padding-left: 0;
    padding-right: 0; } }
.g-contacto {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  background: #18305c;
  padding: 0% 5%;
  padding-top: 1%;
  text-align: left; }

.g-h3-contacto {
  color: #FFFFFF;
  text-align: center; }

.g-visitanos, .g-comunicate, .g-buscanos, .g-suscribete {
  margin-top: 1%;
  padding: 2%; }

.g-facebook {
  color: blue; }

.g-youtube {
  color: red; }

.g-facebook, .g-youtube {
  padding: 0% 2%; }

.g-suscribete {
  text-align: center; }

.g-btn-suscribete, .g-input-suscribete {
  width: 100%;
  margin-bottom: 2%; }

.fa-thumb-tack, .fa-user, .fa-search {
  color: white; }

.g-titulo-secciones {
  color: #FFFFFF; }

.fa-phone-square, .fa-envelope, .fa-skype, .g-direccion, .g-datos-comunicate {
  color: #FFFFFF; }

.g-datos-comunicate {
  font-family: 'Raleway', sans-serif; }

.kdetails {
  margin-top: 15vh; }

.col-item {
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background: #FFF;
  margin: 2vh 9vw; }

.imagenes-detalle {
  padding: 80px 20px; }

.col-item {
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background: #FFF;
  margin: 10px 30px; }

.col-item .photo img {
  margin: 0 auto;
  width: 100%; }

.col-item .info {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px; }

.col-item .price h5 {
  line-height: 20px;
  margin: 0; }

.price-text-color {
  color: #219FD1; }

.col-item .info .rating {
  color: #777; }

.col-item .rating {
  /*width: 50%;*/
  font-size: 17px;
  text-align: right;
  line-height: 52px; }

.col-item .separator {
  border-top: 1px solid #E1E1E1; }

.clear-left {
  clear: left; }

.col-item .separator p {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center; }

.col-item .separator p i {
  margin-right: 5px; }

.col-item .btn-add {
  width: 50%;
  float: le; }

.col-item .btn-add {
  border-right: 1px solid #E1E1E1; }

.col-item .btn-details {
  width: 50%;
  float: right;
  padding-left: 10px; }

.controls {
  margin-top: 20px; }

[data-slide="prev"] {
  margin-right: 10px; }

/*seccion pagos y precio*/
.view-pagos {
  text-align: center;
  margin-bottom: 7vh; }

.view-pagos span {
  margin-left: 1vw;
  margin-bottom: 1vh; }

.k-buy {
  width: 50%;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  background-color: #0076fb;
  color: #ffffff;
  border: none;
  padding: 1vh 2vw;
  margin: 4vh 25%; }

.navhome {
  border: 0px solid transparent;
  padding: 1.5%;
  background: white; }

.navhome .list {
  font-weight: 600;
  color: black !important; }

.navhome:hover {
  background-color: white; }

.navhome:hover .list {
  font-weight: 600;
  color: #545357 !important; }

.k-details {
  /*padding: 1vh 6vw;*/ }

.k-detalleproduct {
  text-align: justify;
  margin: 2vh 3vw; }

.k-title {
  margin: 1vh 2vw; }

.k-precio {
  text-align: center; }

/*# sourceMappingURL=app.css.map */
