
/* section de catalogo */
#catalogo{
  font-family: 'Orbitron';
  padding: 50px 0;
}
#catalogo img{
  width: 100%;
}

#catalogo .carousel-control { 
  width: 4%; 
}
#catalogo .carousel-control.left,.carousel-control.right {
  background-image:none;
  color: red;
}
#catalogo .carousel-control.left{
	margin-left: -5px;
}
#catalogo .oferta{
  background: red;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 2px red;
  top: 5px;
  right: 5px;
  color: white;
  text-align: center;
}
#catalogo .reverso{
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	font-size: 190%;
}
#catalogo .row{
  position: relative;
  margin: 20px 0;
}
#catalogo .row .centro{
	position: relative;
  top: 80px;
}

#catalogo>.row>div{
	height: 100%;
	align-items: center;
}/* fin del section catalogo*/