@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto');
// #productos{
//     margin: 0 auto;
//     width: 100%;
// }
.catalogo {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.catalogo img{
    margin-bottom: 12px;
    vertical-align: middle;
    // height: 190px;
}
.product-img{
    text-align: center;
    background: #fff;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.product-card {
    border: solid 1px #eee;
    width: 200px;
    float: none;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin-right: 12px;
}
.product-card .product-info {
    background: #f7f7f7;
    padding: 8px 8px 12px 8px;
    // height: 84px;
}
.product-card .product-info .name {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 70;
    color: #333;
    overflow: hidden;
    height: 42px;
}
.product-card .product-info .original-price {
    display: inline-block;
}

 .original-price {
    font-family: ' Noto Sans', 'Roboto', Arial, sans-serif;
    font-size: 12px;
    color: #aaa;
    line-height: 20px;
    text-decoration: line-through;
    font-weight: 400;
}
.product-card .product-info .discount {
    display: inline-block;
    margin-left: 10px;
}
 .discount {
    font-family:  ' Sans Sans', 'Roboto', Arial, sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    font-weight: 400;
}
.product-card .product-info div:last-of-type {
    padding-top: 4px;
}
 .price-secondary {
    color: #ea2840;
}
.price-secondary {
    font-family:  'Noto Sans', 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: #666;
    line-height: 20px;
    font-weight: 700;
}
/* Overlay img*/
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.product-card:hover .img-responsive {
    opacity: 0.3;
}

.product-card:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgba(15, 25, 116, 0.678);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
//++++++++++++++++++++++++++++


.catalogo .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px; 
    padding-left: 0px; 
}
.hiddenn {
    display: block;
}
    @media only screen and (max-width: 600px) {
        .hiddenn{
            display: none;
        }
    }