.contacto{
    color: #333; //666
    padding-bottom:35px;
    padding-top: 35px;  
    // margin: 0px 10px;
}
.medios_pago img{
    width: 60px;
}
.medios_pago li:first-child img{
    width: 85px;
}
.contacto li{
    list-style: none;
    padding-left: 10px;
    line-height: 2;
}
.contacto p {
    // margin-top:35px; 
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.contacto p:last-child {
    // font-weight: 500;
    padding-bottom: 35px;
    transform: rotate(270deg);
}
.contacto ul {
    // margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.contacto .medios_pago {
    display: inline-flex;
    display: flex;
    justify-content: center;
}
.columns{
    border-right:1px dotted #666666;
}
#contact .row {
    margin-right: 0px;
    margin-left: 0px;
}
#contact{
    background: #eee;
    border-bottom:15px solid #000000;
}
.contacto .row-linea{
    border-top: 1px dotted #666666;
}
@media only screen and (max-width: 600px) {
    .contacto p:last-child {
        // font-weight: 500;
        padding-bottom: 0px;
        transform: rotate(0deg);
    }
    .columns {
        border-right: 0px dotted #666666;
        border-bottom: 1px dotted #666666;
    }
}