.g-contacto{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    color: #333;
    background: #eee;
    padding: 0% 5%;
    padding-top: 1%;
    text-align: left;
    // display:inline-flex;
}

.g-h3-contacto{
    color: #FFFFFF;
    text-align: center;
}

.g-visitanos,.g-comunicate,.g-buscanos,.g-suscribete{
margin-top: 1%;
padding: 2%;
}
.g-facebook{
    color: blue;
}

.g-youtube{
    color: red;
}

.g-facebook,.g-youtube{
    padding: 0% 2%;
}

.g-suscribete{
    text-align: center;
}

.g-btn-suscribete,.g-input-suscribete{
    width: 100%;
    margin-bottom: 2%;
}

.fa-thumb-tack,.fa-user,.fa-search{
    // font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    
}

.g-titulo-secciones{
    color: #FFFFFF;
}

.fa-phone-square,.fa-envelope,.fa-skype,.g-direccion,.g-datos-comunicate{
    color: #FFFFFF;
}

.g-datos-comunicate{
    font-family: 'Raleway', sans-serif;      
}
.g-mapa{
    width: 250px;
}