 .carousel {
     margin-top: 9vh;
 }

 .img-ofertas {
     width: 100%;
 }
#componenteK{
    opacity: 0.3;
}

#componenteK .middle {
    opacity: 1;
}
.k-imagen{
    width: 100%;
    height: 90vh;
}
.carousel-inner>.item>img{
    height: 60vh;
}